footer
    div.footer-row
        div.footer-col
            p Я веб-разработчик из Твери, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        div.footer-col
            include menu-footer.pug
            ul.social-footer
            li
                img(src='assets/images/icons/vk.svg')
            li
                img(src='assets/images/icons/github.svg')
            li
                img(src='assets/images/icons/in.svg')
        div.footer-col
            p Я веб-разработчик из Твери, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
    div.footer-row
        div.footer-copyright
            p.copyright &copy; Александр Смирнов | LoftSchool 2017