//- .hamburger.hero__menu
//-             img(src="assets/images/icons/hamburger.svg", alt="Меню" title="Меню")
//- .container
//-     .row.cf
//-         .three.col
.hero__menu
    .hamburger#hamburger-11
        span.line
        span.line
        span.line
include ../common/menu.pug
