.about-me__form
    .about-me-form__wrap
            .about-me-form__title
                .block-title__title.block-title__title-color-gray.block-title__title-smoller Связаться со мной
            form(action="" method="get").about-me-form.contact-form
                label.about-me-form__name
                    input(type="text" name="name" placeholder="Имя").contact-form__name.textfield
                    .textfield__error-message
                label.about-me-form__email
                    input(type="email" name="email" placeholder="email").contact-form__email.textfield
                    .textfield__error-message
                label.about-me-form__textarea
                    textarea(name="message", cols="30", rows="10", placeholder="Ваше сообщение").contact-form__message.textarea
                    .textarea__error-message
                ul.button-login
                    li.button-login__item
                        button.contact-form-submit(type="submit") Отправить
                    li.button-login__item
                        button.contact-form-reset(type="reset") Очистить
            .form-message
                .form-message__text
                .form-message__close Close