extends ../template

block variables
    - var title = 'Блог'

block content
    include ../common/header.pug
    .triangle
        .triangle__left
            svg(width="100%" height="100" viewBox="0 0 900.006 164.986" preserveAspectRatio="none")
                path(d="M0.01,0l899.997,159.008v854.979H0L0.01,0z").triangle_fill_white
        .triangle__right
            svg(width="100%" height="100" viewBox="0 0 900.006 160.986" preserveAspectRatio="none")
                path(d="M0,155.008L900.331,0l-0.005,1009.986H0V155.008z").triangle_fill_white
    .block-title.block-title__blog-page#blockDown
        .block-title__title.block-title__title-color-black.block-title__title-bigger Блог
        .block-title__title.block-title__description-color-gray Статьи, которые я написал
    section.section.blog
        include ../common/menu-left.pug
        aside.aside.blog__left-col
            .left-col__blog-menu
                ul.blog-menu__list
                    each item in ['Самое важное в SASS', 'Приемы в верстке, без которых не обходится ни один сайт', 'Самый необходимый набор Gulp плагинов', 'Почему я выбрал Jade']
                        li.blog-menu___item.blog-menu___item-color-white
                            a(href="#").blog-menu__link.blog-menu__link-color-gray #{item}
        article.article.blog__right-col
            ul.article__list
                li.article__item
                    .article-blog
                        .article__title
                            h2 Самое важное в SASS
                        .article__date
                            span 01.01.2017
                        .article__text
                            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Назад за сих большого коварных, подзаголовок дороге это снова живет грустный, то переписывается! Приставка большого дорогу раз назад даль первую алфавит которое осталось, несколько обеспечивает там знаках города взгляд ему. Большого власти собрал инициал. Выйти переулка имеет пояс, переписывается точках строчка даже собрал lorem дал назад на берегу сбить букв они все проектах прямо бросил текстами, обеспечивает вдали, путь составитель там страну одна? Ее наш однажды родного, своего свою снова гор, оксмокс продолжил ему грамматики алфавит всеми семантика прямо то дорогу себя послушавшись, своих решила пояс ты взгляд дал. О, имеет.
                            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Назад за сих большого коварных, подзаголовок дороге это снова живет грустный, то переписывается! Приставка большого дорогу раз назад даль первую алфавит которое осталось, несколько обеспечивает там знаках города взгляд ему. Большого власти собрал инициал. Выйти переулка имеет пояс, переписывается точках строчка даже собрал lorem дал назад на берегу сбить букв они все проектах прямо бросил текстами, обеспечивает вдали, путь составитель там страну одна? Ее наш однажды родного, своего свою снова гор, оксмокс продолжил ему грамматики алфавит всеми семантика прямо то дорогу себя послушавшись, своих решила пояс ты взгляд дал. О, имеет.
                            img(src="/assets/images/img/code.png", alt="code" title="code")
                li.article__item
                    .article-blog
                        .article__title
                            h2 Приемы в верстке, без которых не обходится ни один сайт
                        .article__date
                            span 01.01.2018
                        .article__text
                            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Назад за сих большого коварных, подзаголовок дороге это снова живет грустный, то переписывается! Приставка большого дорогу раз назад даль первую алфавит которое осталось, несколько обеспечивает там знаках города взгляд ему. Большого власти собрал инициал. Выйти переулка имеет пояс, переписывается точках строчка даже собрал lorem дал назад на берегу сбить букв они все проектах прямо бросил текстами, обеспечивает вдали, путь составитель там страну одна? Ее наш однажды родного, своего свою снова гор, оксмокс продолжил ему грамматики алфавит всеми семантика прямо то дорогу себя послушавшись, своих решила пояс ты взгляд дал. О, имеет.
                            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Назад за сих большого коварных, подзаголовок дороге это снова живет грустный, то переписывается! Приставка большого дорогу раз назад даль первую алфавит которое осталось, несколько обеспечивает там знаках города взгляд ему. Большого власти собрал инициал. Выйти переулка имеет пояс, переписывается точках строчка даже собрал lorem дал назад на берегу сбить букв они все проектах прямо бросил текстами, обеспечивает вдали, путь составитель там страну одна? Ее наш однажды родного, своего свою снова гор, оксмокс продолжил ему грамматики алфавит всеми семантика прямо то дорогу себя послушавшись, своих решила пояс ты взгляд дал. О, имеет.
    include ../common/footer.pug
