extends ../template

block variables
    - var title = 'Александр Смирнов | Личный сайт веб разработчика'

block content
    div.container.container-welcome
        div.welcome-login
                button.welcome-login__btn
                    //- //Потом убрать
                    a(href="/login.html")
                        span.welcome-login__text Авторизоваться
        div.welcome-center
            div.welcome-center__foto
                img(src="assets/images/img/Alex.jpeg", alt="Александр Смирнов").welcome-center__img
            span.welcome-center__name Александр Смирнов
            span.welcome-center__option Личный сайт веб разработчика

            include ../common/social.pug
            
            div.button-welcome-fix-fontsize
                ul.button-welcome
                - 
                    var buttons = [
                        ['Мои работы', '/my-works.html'],
                        ['Обо мне', '/about.html'],
                        ['Блог', '/blog.html'],
                    ]
                each button in buttons
                    li.button-welcome__item
                        a(href=`${button[1]}`) #{button[0]}
        div.welcome-footer
            p.welcome-footer__copyright &copy; Александр Смирнов | LoftSchool 2017
