extends ../template

block variables
    - var title = 'Александр Смирнов | Личный сайт веб разработчика'

block content
    div.container.container-welcome
        div.welcome-login
                button.welcome-login__btn
                    //- //Потом убрать
                    a(href="/login.html")
                        span.welcome-login__text Авторизоваться
        div.welcome-center
            div.welcome-center__foto
                img.welcome-center__img(src="assets/images/img/Alex.jpeg", alt="Александр Смирнов")
            span.welcome-center__name Александр Смирнов
            span.welcome-center__option Личный сайт веб разработчика
            div.social-welcome__wrap
                ul.social-welcome
                    li.social-welcome__item
                        a(class="social-welcome__item_vk" href="https://vk.com/alexweb")
                            svg(width="30.011px" height="17.123px")
                                use( xlink:href="assets/images/icons/sprite-welcome-icon.svg#vk")
                    li.social-welcome__item
                        a(class="social-welcome__item_github" href="https://github.com/alexweb79/")
                            svg(width="26px" height="22px")
                                use( xlink:href="assets/images/icons/sprite-welcome-icon.svg#github")
                    li.social-welcome__item
                        a(class="social-welcome__item_in" href="https://linkedin.com/in/alexweb79/")
                            svg(width="24px" height="22.938px")
                                use( xlink:href="assets/images/icons/sprite-welcome-icon.svg#in")
            //- div.social-welcome
            //-     a(class="social-welcome__item social-welcome__item_vk" href="https://vk.com/alexweb")
            //-         svg(width="30.011px" height="17.123px")
            //-             use( xlink:href="assets/images/icons/sprite-welcome-icon.svg#vk")
            //-     a(class="social-welcome__item social-welcome__item_github" href="https://github.com/alexweb79/")
            //-         svg(width="26px" height="22px")
            //-             use( xlink:href="assets/images/icons/sprite-welcome-icon.svg#github")
            //-     a(class="social-welcome__item social-welcome__item_in" href="https://linkedin.com/in/alexweb79/")
            //-         svg(width="24px" height="22.938px")
            //-             use( xlink:href="assets/images/icons/sprite-welcome-icon.svg#in")
            div.button-welcome-fix-fontsize
                ul.button-welcome
                    li.button-welcome__item
                        a(href="/my-works.html") Мои работы
                    li.button-welcome__item
                        a(href="/about.html") Обо мне
                    li.button-welcome__item
                        a(href="/blog.html") Блог
        div.welcome-footer
            p.welcome-footer__copyright &copy; Александр Смирнов | LoftSchool 2017
