extends ../template

block variables
    - var title = 'Александр Смирнов | Личный сайт веб разработчика'

block content
    div.container.container-welcome
        div.welcome-login
            a(class="welcome-login-btn" href="#") Авторизоваться
        div.welcome-center
            div
                img.welcome-center-foto(src="assets/images/img/Alex.jpeg", alt="Александр Смирнов")
            span.welcome-center-name Александр Смирнов
            span.welcome-center-title Личный сайт веб разработчика
            div
                ul.social-welcome
                    li.social-welcome-item
                        a( class="social-welcome-item-vk" href="https://vk.com/alexweb")
                            svg(width="30.011px" height="17.123px")
                                use( xlink:href="assets/images/icons/sprite-welcome-icon.svg#vk")
                    li.social-welcome-item
                        a(class="social-welcome-item-github" href="https://github.com/alexweb79/")
                            svg(width="26px" height="22px")
                                use( xlink:href="assets/images/icons/sprite-welcome-icon.svg#github")
                    li.social-welcome-item
                        a(class="social-welcome-item-in" href="https://linkedin.com/in/alexweb79/")
                            svg(width="24px" height="22.938px")
                                use( xlink:href="assets/images/icons/sprite-welcome-icon.svg#in")
            div.button-welcome-fontsize
                ul.button-welcome
                    li.button-welcome-item
                        a(href="/my-works.html") Мои работы
                    li.button-welcome-item
                        a(href="/about.html") Обо мне
                    li.button-welcome-item
                        a(href="/blog.html") Блог
        div.welcome-footer-copyright
            p.copyright &copy; Александр Смирнов | LoftSchool 2017
