extends ../template

block variables
    - var title = 'Мои работы'

block content
    include ../common/header.pug
    .triangle
        .triangle__left
            svg(width="100%" height="100" viewBox="0 0 900.006 164.986" preserveAspectRatio="none")
                path(d="M0.01,0l899.997,159.008v854.979H0L0.01,0z").triangle_fill_white
        .triangle__right
            svg(width="100%" height="100" viewBox="0 0 900.006 160.986" preserveAspectRatio="none")
                path(d="M0,155.008L900.331,0l-0.005,1009.986H0V155.008z").triangle_fill_white
    section.section.my-works
        .block-title
            .block-title__bg-my-works
                .block-title__title.block-title__title-color-black.block-title__title-bigger Мои работы
        .slider
            .slider__left
                .block-title__title.block-title__title-color-gray.block-title__title-smoller Сайт школы онлайн образования
                .sites-description__technology-set Html, CSS, JavaScript
                .sites-link__sites-button
                    a(href="#" target=_blank).sites-button__link Посмотреть сайт
            .slider__right
                .sites__img
                    p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Переписали себя имеет языком злых собрал проектах назад, буквенных, встретил дал рукописи всеми? Однажды заманивший образ буквенных инициал вскоре власти своего использовало деревни снова, пунктуация эта несколько грамматики сбить собрал всеми. Диких запятой реторический выйти большой ручеек силуэт они себя страна языком заголовок однажды рот последний вдали деревни если злых решила большого одна которое жаренные, оксмокс что города она? Реторический заманивший, своих напоивший от всех вскоре живет лучше семь текстами осталось о, себя снова диких. Продолжил, алфавит путь. Точках снова власти по всей страну жизни продолжил последний ведущими, встретил несколько домах. Семантика снова свое коварных свою над домах, своего меня переписали? Жаренные то города ручеек над лучше текст текстами они путь первую переписали точках живет рот от всех, журчит моей дорогу раз коварный предложения, запятых даже эта предупреждал языком. Приставка пунктуация, жаренные себя lorem рукописи имени власти всемогущая своих, текстами ему путь всеми обеспечивает он решила грамматики то буквенных жизни великий это свой имеет продолжил вдали использовало! Имени пояс что, пор сбить осталось залетают скатился буквоград но которое путь предложения себя первую вершину на берегу которой даже от всех точках текста имеет дорогу, вопрос выйти, последний океана текст. Речью, безорфографичный несколько. Страна одна необходимыми от всех за всемогущая бросил жаренные знаках возвращайся маленький даже точках, предложения вопрос, букв мир продолжил предупреждал заглавных, все его единственное рот ручеек? Коварный строчка переписали которое, букв заглавных он они рот океана своего. Дал пунктуация залетают, несколько деревни домах грамматики необходимыми безопасную, за по всей имени алфавит до! Заголовок повстречался буквоград вопроса маленькая свой пустился безорфографичный от всех, реторический пор буквенных, напоивший там прямо имени своего подзаголовок рекламных великий, раз рукопись вскоре. Что подзаголовок великий алфавит оксмокс большой использовало домах журчит заманивший текстами агентство лучше переулка рекламных даже путь, текстов текста сих напоивший переписали продолжил точках встретил решила. Если коварных путь выйти семь.
                .sites__button
                    .sites-button-left 1
                    .sites-button-right 2
    section.section
        .about-me
            .abut-me__title
                .block-title
                    .block-title__bg-about-me
                        .block-title__title.block-title__title-color-black.block-title__title-bigger Что обо мне <br>говорят
            .about-me__reviews
                .reviews__left
                    .rewiews__description
                        .reviews__img
                            img(src="../../assets/images/img/kd.png", alt="")
                        .reviews__text Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты.
                        .reviews__person
                            .person__name Ковальчук Дмитрий
                            .person__position - основатель Loftschool
                .reviews__right
                    .rewiews__description
                        .rewiews__description
                        .reviews__img
                            img(src="../../assets/images/img/sd.png", alt="")
                        .reviews__text Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты.
                        .reviews__person
                            .person__name Сабанцев Владимир
                            .person__position - преподаватель
            .about-me-form__wrap
                    .about-me-form__title
                        .block-title__title.block-title__title-color-gray.block-title__title-smoller Связаться со мной
                    form(action="#" method="post").about-me-form
                        label.about-me-form__name
                            input(type="text" name="name" id="name" placeholder="Имя")
                        label.about-me-form__email
                            input(type="email" name="email" id="email" placeholder="email")
                        label.about-me-form__message
                            textarea(name="message", cols="30", rows="10", id="message", placeholder="Ваше сообщение")
                    div.about-me-form__wrap
                        ul.button-login
                            li.button-login__item
                                button Отправить
                            li.button-login__item
                                button Очистить
    include ../common/footer.pug

