@import "normalize";
@import "common/fonts";
body,
html {
    font-family: "RobotoRegular";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

div {
    // border: 1px #ff0000 solid;
}

.container {
    // flex: 1;
}

footer {
    // padding: 20px;
}

@import 'common/menu';
@import 'common/technologies';
@import 'common/slider';
@import 'common/welcome';
@import 'common/login';