@import "normalize";
@import "common/fonts";
body,
html {
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div {
    border: 1px #ff0000 solid;
}

@import 'common/welcome';
@import 'common/login';
@import 'common/header';
@import 'common/social';
@import 'common/triangle';
@import 'common/block-title';
@import 'common/my-works';
// @import 'common/slider';
@import 'common/about';
@import 'common/skills';
// @import 'common/technologies';
@import 'common/blog';
@import 'common/footer';
@import 'common/menu-footer';