.about__triangle .triangle_fill_white {
    @include tablets {
        fill: #ebefe2;
    }
}

section.about {
    display: flex;
    flex-direction: row;
    @include tablets {
        flex-direction: column;
    }
}

.about__left,
.about__right {
    flex-basis: 50%;
}

.about__left {
    display: flex;
    flex-direction: column;
    background-color: #EBEFE1;
}

.about__right {
    background-color: #FFFFFF;
    @include tablets {
        padding-top: 20px;
    }
}

.about__left-title {
    width: 100%;
    margin-top: -30px;
}

.about__left-title>.block-title>.block-title__bg-about-me {
    padding-top: 60px;
}

.about__left-content {
    display: flex;
    justify-content: center;
}

.user-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}

.user-description__image {
    display: flex;
    justify-content: center;
}

.user-description__title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.user-description__avatar {
    max-width: 100%;
    max-height: 100%;
}

.user-description__text {
    display: flex;
    justify-content: center;
}

.text-content {
    padding: 0 50px;
}

.about__right-content {}

section.section.map {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.google-map {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1000px;
    background-image: url('../../assets/images/img/map.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    @include tablets {
        align-items: flex-start;
    }
}

.map__contacts {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-top: -194px;
    @include tablets {
        width: 100%;
        margin-top: 0;
        font-size: 1.7rem;
    }
}

.contacts__title {
    padding-top: 20px;
}

.contacts__item {
    list-style-type: none;
}

.contacts-row {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.contacts-row__icon img {
    width: 25px;
    @include tablets {
        width: 30px;
    }
}

.contacts-row__content {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.text-content p {
    @include tablets {
        font-size: 1.5rem;
    }
}