section.about {
    display: flex;
    flex-direction: row;
}

.about__left,
.about__right {
    flex-basis: 50%;
}

.about__left {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    background-color: #EBEFE1;
}

.about__right {
    background-color: #F4F5F0;
}

.triangle {
    min-height: 175px;
    margin-top: -175px;
}

.tringle_fill_white {}

.about__left-triangle {
    background-image: url('../../assets/images/icons/about_bg_left.svg');
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
}

.about__right-triangle {
    background-image: url('../../assets/images/icons/about_bg_right.svg');
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
}

.about__left-title {
    display: flex;
    justify-content: center;
    // min-height: 175px;
    background-image: url('../../assets/images/icons/about_header.svg');
    background-repeat: no-repeat;
    background-position: top;
    // background-size: cover;
    width: 100%;
    margin-top: -60px;
    // height: 300px;
}

.block-title {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // max-width: 500px;
    margin-top: 60px;
}

.welcome-center__title_color-black {
    // margin-top: 60px;
    font-size: 5rem;
    &::after {
        background-color: black;
    }
}

.about__left-content {
    display: flex;
    justify-content: center;
}

.user-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}

.user-description__image {
    display: flex;
    justify-content: center;
}

.user-description__title {
    display: flex;
    justify-content: center;
}

.user-description__avatar {
    max-width: 100%;
    max-height: 100%;
}

.user-description__text {
    display: flex;
    justify-content: center;
}

.text-content {
    // max-width: 400px;
    padding: 0 50px;
}

.welcome-center__title-block-subtitle {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #4B574D;
    text-align: center;
    &::after {
        content: "";
        display: block;
        width: 7rem;
        height: 3px;
        margin: 20px auto;
        background-color: #4B574D;
    }
}

.about__right-content {}

.skills-list {
    // width: 100%;
}

.skills-list__item {
    list-style-type: none;
    width: 100%;
}

.skills-row {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
}

.skills-row__title {}

.skills-row__list {
    padding: 0;
}

.skills-row__item {
    list-style-type: none;
}

.skill {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.skill__circle {
    width: 120px;
    height: 120px;
    position: relative;
    margin: 5px;
}

.skill__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9rem;
    font-weight: 600;
    color: #669966;
    text-align: center;
}

//circle
.circles {
    fill: none;
    stroke-width: 15;
}

.circle__first {
    stroke: #dfdcd5;
}

.circle__second {
    stroke: #669966;
    stroke-dasharray: .0010 282.6;
    transition: all 1s;
}

.circles .circle-0 {
    stroke-dasharray: .001 282.6;
}

.circles .circle-10 {
    stroke-dasharray: 28.26 282.6;
}

.circles .circle-15 {
    stroke-dasharray: 42.39 282.6;
}

.circles .circle-20 {
    stroke-dasharray: 56.52 282.6;
}

.circles .circle-25 {
    stroke-dasharray: 70.65 282.6;
}

.circles .circle-30 {
    stroke-dasharray: 84.78 282.6;
}

.circles .circle-35 {
    stroke-dasharray: 98.91 282.6;
}

.circles .circle-40 {
    stroke-dasharray: 113.04 282.6;
}

.circles .circle-45 {
    stroke-dasharray: 127.17 282.6;
}

.circles .circle-50 {
    stroke-dasharray: 141.3 282.6;
}

.circles .circle-55 {
    stroke-dasharray: 155.43 282.6;
}

.circles .circle-60 {
    stroke-dasharray: 169.56 282.6;
}

.circles .circle-65 {
    stroke-dasharray: 183.69 282.6;
}

.circles .circle-70 {
    stroke-dasharray: 197.82 282.6;
}

.circles .circle-75 {
    stroke-dasharray: 211.95 282.6;
}

.circles .circle-80 {
    stroke-dasharray: 226.08 282.6;
}

.circles .circle-85 {
    stroke-dasharray: 240.21 282.6;
}

.circles .circle-90 {
    stroke-dasharray: 254.34 282.6;
}

.circles .circle-95 {
    stroke-dasharray: 268.47 282.6;
}

.circles .circle-100 {
    stroke-dasharray: 282.6 282.6;
}

//circle end
section.section.map {
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}

.google-map {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1000px;
    background-image: url('../../assets/images/img/map.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.map__contacts {
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-top: -194px;
}

.contacts__item {
    list-style-type: none;
}

.contacts-row {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.contacts-row__icon {
    // padding: 5px;
}

.contacts-row__content {
    padding-left: 15px;
}