.blog-title {
    display: flex;
    flex-direction: column;
    margin-top: -200px;
    margin-bottom: 200px;
    color: white;
    text-align: center;
}

.blog-title__title {}

.blog-title__description {}

.blog {
    display: flex;
    flex-direction: row;
}

.aside {
    flex-basis: 33%;
    @include phones {
        display: none;
    }
}

.article {
    flex-basis: 66%;
    @include phones {
        flex-basis: 90%;
        padding: 0 20px;
    }
}

.blog__left-col {}

.blog__right-col {}

.article__list {
    padding-right: 20px;
    @include phones {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.article__item {
    border-bottom: 5px solid #ecebe4;
    padding-bottom: 70px;
    margin-bottom: 70px;
    list-style-type: none;
    &:last-child {
        border: none;
        margin-bottom: 200px;
    }
}

.article-blog {}

.article__title {
    color: #566358;
}

.article__date {
    color: #81a970;
}

.article__text img {
    max-width: 100%;
}

.left-col__blog-menu {
    margin: 0 40px 0 20px;
    @include phones {
        margin: 0 5px;
    }
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: -40px;
    width: 33%;
}

.blog-menu__list {}

.blog-menu___item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    margin-bottom: 20px;
}

nav>li>a.active {
    background-color: red;
    border: 1px solid red;
}

.blog-menu___item-color-white {
    border-right: 3px solid white;
    &:hover,
    &:active,
    &:first-child {
        border-right: 3px solid #6c9c5a;
    }
}

.blog-menu___item-color-green {
    border-right: 3px solid #6c9c5a;
    &:hover,
    &:active,
    &:first-child {
        border-right: 3px solid white;
    }
}

.blog-menu__link {
    text-decoration: none;
    text-align: right;
    padding: 5px 10px;
}

.blog-menu__link-color-gray {
    color: gray;
    &:active,
    &:hover {
        color: #6c9c5a;
    }
}

.blog-menu__link-color-white {
    font-size: 1.5rem;
    color: white;
    &:active,
    &:hover {
        color: #c4c4c4;
    }
}