@font-face {
    font-family: "RobotoRegular";
    src: url("../../fonts/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "RobotoMedium";
    src: url("../../fonts/Roboto-Medium.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: url("../../fonts/Roboto-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "RobotoBoldItalic";
    src: url("../../fonts/Roboto-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "RobotoItalic";
    src: url("../../fonts/Roboto-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "RobotoLight";
    src: url("../../fonts/Roboto-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "RobotoLightItalic";
    src: url("../../fonts/Roboto-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "RobotoMediumItalic";
    src: url("../../fonts/Roboto-MediumItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "fontawesome";
    src: url("../../fonts/fontawesome-webfont.ttf");
    src: url("../../fonts/FontAwesome.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sansus-Webissimo-Regular";
    src: url("../../fonts/Sansus-Webissimo-Regular.ttf");
    src: url("../../fonts/Sansus-Webissimo-Regular.ttf") format('truetype'), url("../../fonts/Sansus-Webissimo-Regular.otf") format('otf'), url("../../fonts/Sansus-Webissimo-Regular.woff") format('woff'), url("../../fonts/Sansus-Webissimo-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
}