.about-me__form {
    width: 100%;
    margin-bottom: 400px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    background-image: url('../../assets/images/img/list3.png');
    background-repeat: no-repeat;
    background-position: right top;
}

.about-me-form__wrap {
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.about-me-form {
    display: flex;
    flex-direction: column;
    &:before {
        content: "";
        display: block;
        width: 58px;
        height: 108px;
        position: absolute;
        margin-left: -350px;
        background-image: url('../../assets/images/img/list1.png');
        background-repeat: no-repeat;
        background-position: left top;
    }
}

.textfield__error-message,
.textarea__error-message {
    &:after {
        content: "* ERROR";
        display: none;
        color: red;
        border: 1px solid red;
    }
}

.textfield_state_error,
.textarea_state_error {
    content: "";
    display: block;
    color: red;
    border: 1px solid red;
}

.form-message {
    display: none;
}

.form-message__text {}

.form-message__close {}

.form-message_active {
    display: block;
}