.about-me__reviews {
    display: flex;
    flex-direction: row;
}

.reviews__left {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}

.reviews__right {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
}

.rewiews__description {
    width: 70%;
    background-image: url('../../assets/images/img/quotes.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.reviews__img {
    text-align: center;
}

.reviews__text {
    color: #82817C;
    margin-top: 10px;
}

.reviews__person {
    text-align: center;
    margin-top: 20px;
}

.person__name {
    font-weight: 600;
    color: #669966;
}

.person__position {
    color: #585855;
}