.slider {
    display: flex;
    flex-direction: row;
}

.slider__left {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EBEFE1;
}

.slider__right {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
}

.sites-description__technology-set {
    color: #669966;
    font-weight: 600;
    text-transform: uppercase;
}

.sites-link__sites-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #669966;
    border-radius: 50px;
    margin-top: 40px;
}

.sites-button__link {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 15px 10px 0px;
    &:before {
        content: "";
        background-image: url('../../assets/images/icons/link.svg');
        background-repeat: no-repeat;
        background-position: top center;
        width: 20px;
        height: 20px;
        padding: 0 40px 0 0;
    }
}

.slider__right {
    display: flex;
    flex-direction: column;
}

.sites__img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E2E4D7;
    padding: 100px 0;
}

.sites__button {
    display: flex;
    flex-direction: row;
}

.sites-button-left {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-image: url('../../assets/images/icons/portf_arrow_down.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
}

.sites-button-right {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-image: url('../../assets/images/icons/portf_arrow_up.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
}

.sites-button-left__img-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    padding: 10px;
    width: 100%;
}