.slider {
    display: flex;
    flex-direction: row;
    @include phones {
        flex-direction: column-reverse;
    }
}

.slider__left {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EBEFE1;
}

.slider__right {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
}

.sites-description__technology-set {
    color: #669966;
    font-weight: 600;
    text-transform: uppercase;
}

.sites-link__sites-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #669966;
    border-radius: 50px;
    margin-top: 40px;
}

.sites-button__link {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 15px 10px 0px;
    &:before {
        content: "";
        background-image: url('../../assets/images/icons/link.svg');
        background-repeat: no-repeat;
        background-position: top center;
        width: 20px;
        height: 20px;
        padding: 0 40px 0 0;
    }
}

.slider__right {
    display: flex;
    flex-direction: column;
}

.sites__img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E2E4D7;
    padding: 100px 0;
}

.sites__button {
    display: flex;
    flex-direction: row;
}

.sites-button-left {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-image: url('../../assets/images/icons/portf_arrow_down.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
}

.sites-button-right {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-image: url('../../assets/images/icons/portf_arrow_up.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
}

.sites-button-left__img-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    padding: 10px;
    width: 100%;
}

// New slider
// colors
$acsent: #004cd1;
$acsent-hov: #043ea3;
$bg__auth: #223b65;
$btn_auth-bg: #083c96;
$blog-bg: #faf8f0;
$post_line: rgba(#474b57,
0.07);
$white: #fff;
$black: #000;
$bg_black-opacity: rgba(#000,
0.85);
$content-left_bg: #f2f0e8;
$content-right_bg: #e3e2de;
//slider
$slider-arrow_up: rgba(#7e7f8a,
0.7);
$slider-arrow_down: rgba(#aaabb7,
0.7);
.slider {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-color: $white;
    @include tablets() {
        height: initial;
    }
    .heading__sub {
        text-transform: uppercase;
        @include phones() {
            margin-bottom: 15px;
        }
    }
    .heading__sub-wrap {
        @include phones() {
            padding-top: 0;
            padding-bottom: 15px;
        }
    }
}

.slider__main-preview {
    height: 100%;
    width: 50%;
    background-color: $content-left_bg;
    @include tablets() {
        width: 100%;
        height: 50vh;
        padding-top: 30px;
        padding-bottom: 70px;
    }
    @include phones() {
        height: 40vh;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.main-preview__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
    text-align: center;
    @include tablets() {
        margin: 0;
    }
}

.main-preview__desc {
    color: $acsent;
    margin-bottom: 50px;
    overflow: hidden;
    @include phones() {
        margin-bottom: 15px;
    }
    span {
        position: relative;
        top: -50px;
    }
}

.slider__small-preview {
    position: relative;
    display: flex;
    height: 70%;
    width: 50%;
    background-color: $content-right_bg;
    @include tablets() {
        box-sizing: content-box;
        height: 100vh;
        width: 100%;
        order: -1;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @include phones() {
        height: 31vh;
    }
}

.slider__preview-nav {
    display: flex;
    height: 30%;
    width: 50%;
    @include tablets() {
        height: 30vh;
        width: 100%;
    }
    @include tablets() {
        height: 20vh;
    }
}

.slider__preview-down,
.slider__preview-up {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
}

.overlay__preview {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    svg {
        position: relative;
        z-index: 10;
        width: 46px;
        height: 36px;
        fill: rgba(255, 255, 255, 0.8);
        filter: drop-shadow(2px 0px 2px rgba(0, 0, 0, 0.86));
        // transition: 0.3s all;
    }
    .arrow__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

.arrow--up {
    svg {
        transform: rotate(180deg);
        transition: 0.3s transform, 0.3s fill;
    }
}

.arrow--down {
    svg {
        transition: 0.3s transform, 0.3s fill;
    }
}

.arrow--up:hover svg {
    transform: rotate(180deg) translateY(10px);
    fill: grey;
}

.arrow--down:hover svg {
    transform: translateY(10px);
    fill: grey;
}

.overlay__preview--left {
    background-color: $slider-arrow_down;
}

.overlay__preview--right {
    background-color: $slider-arrow_up;
}

.slider__number {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 80px;
    color: pink;
    transform: translate(-50%, -50%);
    z-index: 3;
    &.number--big {
        font-size: 200px;
    }
}

.slider__image-preview {
    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 15%;
    z-index: 1;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

// animate slider
.animate {
    position: relative;
    top: -50px;
    animation: textDown 1s ease-in-out running forwards;
}

@keyframes textDown {
    0% {
        top: -50px;
    }
    100% {
        top: 0px;
    }
}